*{padding: 0;
  margin: 0;}

header{
  background-color: rgb(0, 0, 0);
  color:white;
  width: 100%;
  text-align: center;
  padding-bottom: 5px;}

header>li:first-child{margin-left: 350px;}

.linksocial{
  width: 500px;
  margin-left: 30%;
  display:flex; 
  align-items:center;
  justify-content:space-around;}

.linksocial>li{
  text-decoration: none;
  list-style: none;
  margin-bottom: 2px;
  margin-right: 0px;
  margin-top: 2px;}


.linksocial>li>a{
  background-color: transparent;
  font-size: 22px;
  color: white;
  text-decoration: none;}

h3{font-size: 48px;
  text-align: center;
  justify-content: center;
  color: rgb(255, 255, 255);}

.caixabonitinha {
  margin: auto;
  display: flex;
  padding-top: 5px; 
  padding-bottom: 15px;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 100px;
  position:relative;
  border-radius: 30px;
  width: 80%;
  height: 100%;

  background: rgb(47, 57, 121);
  background: linear-gradient(90deg,
                    rgba(85,96,164,0.742734593837535) 11%,
                    rgba(37,117,173,1) 28%,
                    rgba(14,2,175,1) 46%,
                    rgba(0,212,255,0.5242471988795518) 100%)
  }

.subcaixabonitinha{
  margin-top: 5px;
  position: relative;
  height: 95%;
  width: 100%;
  border-radius: 15px;
  margin-left: 30px;
  padding-top: 10px;
  padding-bottom: 15px;
  margin-right: 30px;
  border
  background: rgb(85,96,164);
  background: linear-gradient(90deg,
   rgba(85,96,164,1) 11%, 
   rgba(37,117,173,1) 28%, 
   rgba(14,2,175,1) 46%, 
   rgba(0,212,255,1) 100%);
 }

.subcaixabonitinha>li{
  margin-top: 5px!important;
  text-align: center;
  list-style: none;
  margin-bottom: 5px!important}

.subcaixabonitinha>li>a{
 
  font-size: 20px;
  color: rgb(255, 255, 255);}


a{padding: 0px;
  margin-top: 5px;
  color: rgb(255, 255, 255);
  margin-bottom: 2px;
  background-color:transparent;
  text-decoration: none;}

.footer{
 width: 100%;
 background-color:transparent;
 text-align:center;
 display: block;
 justify-content: center;
 position:fixed;
 bottom: 0px;
 width: max-content;
 padding-top: 5px;
 justify-items: initial;
 padding-bottom: 5px}
  
h1{display: flex;
 margin-left: 500px;
 font-size: 29px;
 margin-top: 1px;
 color: rgb(224, 223, 223);
 background-color: black;
 margin-bottom: 1px; 
 position:relative;}

 h2{color: rgb(221, 221, 221);
   text-align: center;
  }
